    {{> head }}

<body>

    <div class="container">
        
        {{> navbar }}  

        <div class="jumbotron">
            <h1 class="display-4">Hola {{ nombre }}</h1>
            <p class="lead">ABOOOOOUT PAG 2</p>
            <hr class="my-4">
            <p>{{ txt }}</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">{{ btn }}</a>
            </p>
        </div>
        <a href="/">HOME</a>
    </div>

    {{> footer }}